@tailwind base;
@tailwind components;
@tailwind utilities;

.feather {
    width: 24px;
    height: 24px;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.bg-img-single {
    @apply bg-no-repeat bg-cover;
}